@{
    ViewData["Title"] = "Home";
}
<!--Specifies the iqueryable model we will be using on this view-->
@model LibraryListViewModel
<div class="text-center">
    <h1 class="display-4">Check out our library!</h1>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-2">
            <h5>Filter</h5>
            <vc:navigation-menu />
        </div>
        <div class="col-10">
            <table class="table table-striped border border-dark rounded table-hover">
                <tr class="thead-dark">
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Pages</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <!--Loops through each item in the model and displays them on the page using a table-->
                @foreach (var x in Model.Libraries)
                {
                    <partial name="BookSummary" model="x" />
                }
            </table>
            <div class="pagination" page-model="@Model.PagingInfo" page-action="Index"
                 page-classes-enabled="true" page-class="page-link"
                 page-class-selected="bg-dark text-light" page-class-normal="text-dark"
                 page-url-category="@Model.CurrentCategory"></div>
        </div>

    </div>
</div>